<div class="jumbotron" id="survey-header">
	<h3 id="header-text">Survey</h3>
</div>
<div id="survey-body">
	<div align="center">
		<span class="help-block">This survey is being used for coursework and feedback purposes, this will be completely anonymous.<br>
		   On the questions below please select between 1-10. 1 being the lowest 10 being the highest.<br> Each question can be answered overwise you can not submit your feedback.</span>
	<span id="survey-questions">A random question here answer to the right.</span>
  <select>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
  	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  </select><hr />

	<span id="survey-questions">A random question here answer to the right.</span>
  <select>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
  	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  </select><hr />

	<span id="survey-questions">A random question here answer to the right.</span>
  <select>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
  	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  </select><hr />

	<span id="survey-questions">A random question here answer to the right.</span>
  <select>
  	<option value="1">1</option>
  	<option value="2">2</option>
  	<option value="3">3</option>
  	<option value="4">4</option>
  	<option value="5">5</option>
  	<option value="6">6</option>
  	<option value="7">7</option>
  	<option value="8">8</option>
  	<option value="9">9</option>
  	<option value="10">10</option>
  </select><hr />

  <span id="survey-questions">A random question here answer below.</span><br>
  <textarea rows="4" cols="50" type="textfield" placeholder="Enter text"></textarea><hr />

  <span id="survey-questions">A random question here answer below.</span><br>
  <textarea rows="4" cols="50" type="textfield" placeholder="Enter text"></textarea><br>

  <button class="btn btn-lg btn-primary" disabled="true">Submit</button>
</div>
</div>