<div class="jumbotron" align="center" id="survey-header">
	<h3 id="header-text">Thank you!</h3>
</div>
<div align="center">
<span class="help-block">Thank you for taking part of my survey.</span>
</div>