@import "bootstrap-sprockets";
@import "bootstrap";

#well-background {
	background-color: black;
}

#line-break {
	border-top: 25px solid darkgreen;
	padding-bottom: 25px;
}

#feedback-none {
	letter-spacing: -0.1em;
	text-decoration: underline;
}

#destroy-button {
	background-color: #b30000;
}

#csv-button {
	background-color: #2cb300;
}