@import "bootstrap-sprockets";
@import "bootstrap";

#survey-header {
	background-color: #3333ff;
}
#header-text {
	color: white;
	font-size: 3em;
}
#survey-questions {
	padding-right: 15px;
	padding-bottom: 20px;
	font-size: 1.5em;
}

hr {
	width: 75%;
}