@import "bootstrap-sprockets";
@import "bootstrap";

#survey-header {
	background-color: #3333ff;
}
#header-text {
	color: white;
	font-size: 3em;
}
#survey-questions {
	padding-right: 15px;
	padding-bottom: 20px;
	font-size: 1.8em;
}

hr {
	width: 75%;
}

select {
	width: 5%;
	height: 5%;
	text-align: center;
}

#well-background {
	background-color: black;
}

#line-break {
	border-top: 25px solid darkgreen;
	padding-bottom: 25px;
}